body {
  font-family: Helvetica, Arial;
  font-size: 20px;
  margin: 0px 100px 100px 100px;
}


div.logo-static{
  width: 30px;
  position: fixed;
  z-index: 1;
}


  .logo-img{
    transition: 0.3s;
    width: 300px;
    @media all and (max-width: 767px){
      opacity: 0;
      transition: 0.3s;
    }
  }


#primary{
  p{
    font-size: 25px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

